$white: #fff;
$black: #000;
$themeColor: #00c2b2;
$hover: #02d1c0;
$titleColor: #333;
$textColor: #666;
$placeholderColor: #aaa;
$borderColor: #e6e6e6;
$headerBorderColor: #d1d5d8;
$bgColor: #f6f6f8;
$arrowColor: #999;
$sideBarBgColor: #272d3d;